body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  min-height: 100vh;
}