body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f4f8;   /* light background */
}

.page-container {
  min-height: 100vh;
  padding: 20px;
}

.home-title {
  text-align: center;
  margin-top: 150px;
  font-size: 48px;
  color: #2c3e50;
}